User body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Cinzel', serif;
}

p {
    font-family: 'EB Garamond', serif;
}

.container,
.primeira-metade,
.segunda-metade {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.primeira-metade {
    background-color: black;
    flex-direction: column;
}

.container img {
    max-width: 100%;
    height: auto;
}

.link_para_whatsapp {
    padding-top: 25px;
}

.link_para_whatsapp img {
    background-size: auto;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.link_para_whatsapp h2 {
    color: white;
}

.apresentacao {
    text-align: left;
    padding-top: 15vh;
}

.apresentacao h1 {
    padding-bottom: 10vh;
}

.segunda-metade {
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#333, white);
    width: 100%;
}

.segunda-metade h1,
.segunda-metade h2 {
    margin: 0;
    text-align: center;
}

.Fc_incorp {
    padding-top: 3vh;
}

.demonstracao,
.demonstracao2,
.demonstracao3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.demonstracao img,
.demonstracao2 img,
.demonstracao3 img {
    background-size: cover;
    max-width: 100%;
    max-height: 50vh;
    margin-bottom: 20px;
}

.Emisa p {
    margin-bottom: 10vh;
}

.link_para_whatsapp {
    background-color: #333;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.link_para_whatsapp img {
    background-size: auto;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {

    /* Adapte as regras de estilo para telas de até 768 pixels de largura */
    .demonstracao img,
    .demonstracao2 img,
    .demonstracao3 img {
        max-width: 99%;
    }

    .container,
    .primeira-metade,
    .segunda-metade {
        padding: 0;
        /* Reduza o espaçamento interno para telas menores */
    }

    .container img {
        width: 100%;
    }

    .apresentacao {
        padding-left: 10px;
        /* Ajuste do espaçamento à esquerda para telas menores */
        padding-right: 10px;
        /* Ajuste do espaçamento à direita para telas menores */
    }

    .p {
        font-size: 16px;
        /* Ajuste o tamanho do texto <p> para telas menores */
    }

    .link_para_whatsapp {
        width: 100%;
    }
}