body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 100;
    font-style: normal;
}
h1 {
    font-size: 2.3rem;
}
h2 {
    font-family: "Merriweather", serif;
}
p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
}

.primeira-metade img{
    height: 35vh;
}
.spacing{
    padding-bottom: 18vh;
}

.primeira-metade{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 21vh;
    z-index: 1;
    width: 100%;
    background-color: #333;;
    flex-direction: column;
}
.container,
.primeira-metade,
.segunda-metade {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.segunda-metade img {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.link_para_whatsapp {
    padding-top: 25px;
}

.link_para_whatsapp img {
    background-size: auto;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.link_para_whatsapp h2 {
    color: white;
}

.apresentacao {
    padding-top: 10vh;
}

.segunda-metade {
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#333, rgb(66, 60, 60), #333);
    
}
.demonstracao img,
.demonstracao2 img,
.demonstracao3 img {
    background-size: cover;
    max-width: 100%;
    max-height: 70vh;
    padding: 1rem;
    margin: 0 auto; 
    display: inline-block; 
}

.demonstracao3 {
    padding: 1rem;
    text-align: center; 
}
footer {
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
}
.link_para_whatsapp {
    display: flex;
    align-items: center;
    max-width: 1200px;
    
}

.link_para_whatsapp img {
    background-size: auto;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {


    .container img,
    .demonstracao img,
    .demonstracao2 img,
    .demonstracao3 img {
        width: 100%;
        padding: 0;
        height: auto;
        margin: 1rem 0;
    }


    p {
        font-size: 1.125rem; 
        line-height: 1.5;
    }

    .apresentacao {
        padding: 1.5rem;
    }

    .link_para_whatsapp {
        width: 100%;
        padding: 1.5rem; 
        box-sizing: border-box; 
    }

    .link_para_whatsapp h2 {
        text-align: center;
    }

    h1,
    h2 {
        margin-bottom: 1rem;
    }
}

