body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container,
.primeira-metade,
.segunda-metade {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'EB Garamond', serif;
}

.primeira-metade {
    background-color: black;
    flex-direction: column;
}

.container img {
    max-width: 100%;
    height: auto;
}

.link_para_whatsapp {
    padding-top: 25px;
}

.link_para_whatsapp img {
    background-size: auto;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.link_para_whatsapp h2 {
    color: white;
}

.apresentacao {
    text-align: left;
    padding: 0 20px;
    /* Adicione algum espaçamento horizontal */
}

.segunda-metade {
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#333, white);
    width: 100%;
}

.segunda-metade h1,
.segunda-metade h2 {
    margin: 0;
    text-align: center;
}

.segunda-metade h1 {
    margin-top: 20px;
    /* Adicione algum espaçamento superior */
}

.acesso1 a {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #39e622;
    cursor: pointer;
    font-size: large;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
    color: black;
}

/* Adicione uma regra de mídia para telas menores (celulares e tablets) */
@media (max-width: 768px) {
    .link_para_whatsapp {
        padding-top: 15px;
        /* Reduza o espaçamento superior para telas menores */
    }

    .link_para_whatsapp img {
        width: 60px;
        height: 60px;
        margin-bottom: 5px;
    }

    .apresentacao {
        padding: 0 10px;
        /* Reduza o espaçamento horizontal para telas menores */
    }

    .primeira-metade {
        padding: 20px;
        /* Ajuste o espaço interno da primeira metade */
    }

    .segunda-metade h1,
    .segunda-metade h2 {
        margin: 0;
        text-align: center;
        font-size: 24px;
        /* Ajuste o tamanho da fonte para telas menores */
    }

    .segunda-metade h1 {
        margin-top: 10px;
        /* Reduza o espaçamento superior para telas menores */
    }

    .acesso1 a {
        font-size: medium;
        /* Reduza o tamanho da fonte para telas menores */
    }
}