body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

:root {
    --gap: 3rem;
    --font-size-base: 1rem; 
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 40vh;
}

#primeira-metade {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    padding: var(--gap);
}

.logo  {
    height: 40vh;
    width: 70vh;
    margin: 0 auto;
}
.primeira-metade h2 {
    margin-top: 1.5rem; 
    font-family: 'Cinzel', serif;
    font-size: 1.2rem;
}

.alinhando-whapp img {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.alinhando-whapp, a {
    display: flex;
    justify-content: center;
}

.link_para_whatsapp img {
    background-size: auto;
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.5rem;
}

.link_para_whatsapp h2 {
    color: white;
    text-align: center;
    font-size: 1rem; 
}

.apresentacao {
    text-align: left;
    padding: 0 var(--gap); 
}

.segunda-metade {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#333, white);
}

.segunda-metade h1,
.segunda-metade h2 {
    margin: 0 auto;
    text-align: center;
    padding-top: 2rem;
    padding: 1.5rem;
}

.acesso1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.acesso1 h1 {
    padding-bottom: 6vh ;
}

.acesso1 a {
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 15rem;
    border: none;
    background-color: #39e622;
    cursor: pointer;
    font-size: 1rem; 
    font-family: 'EB Garamond', serif;
    text-decoration: none;
    color: black;
    margin-top: 1.5rem; 
}

.acesso1 a:hover {
    border: 1px solid #333;
    background: rgb(139, 208, 208);
}

@media (max-width: 768px) {
    .container {
        height: auto;
    }

    #primeira-metade,
    .segunda-metade {
        padding: var(--gap / 2);
    }

    .logo {
        width: 70%; 
        height: auto;
        margin: 0 auto;
    }

    .link_para_whatsapp img {
        width: 2rem;
        height: 2rem;
        margin-bottom: 0.25rem;
    }

    .apresentacao {
        padding: 0 var(--gap / 2);
    }

    .segunda-metade h1,
    .segunda-metade h2 {
        font-size: 1.3rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding-top: 1rem; 
    }

    .acesso1 {
        margin-bottom: 1rem;
    }

    .acesso1 a {
        font-size: 1rem;
        max-width: 70%;
    }
}
