body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
:root {
    --gap: 3rem;
}

.container{
    position: relative;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    height: 100vh;
}
#primeira-metade {
    display: flex;
    flex-flow: column wrap;
    background-color: black;
    justify-content: center;
}

.primeira-metade h2{
    margin-top: 4rem;
    font-family: 'Cinzel', serif;
    font-size: 1.2em;
}
.alinhando-whapp img{
    display: flex;
    justify-content: center;
}
.alinhando-whapp, a{
    display: flex;
    justify-content: center;
}
.container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20vh;
}



.link_para_whatsapp img {
    background-size: auto;
    width: 6rem;
    height: 6rem;
    margin-bottom: 1rem;
}

.link_para_whatsapp h2 {
    color: white;
    text-align: center;
}

.apresentacao {
    text-align: left;
    padding: 0 20px;
    /* Adicione algum espaçamento horizontal */
}

.segunda-metade {
    height: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient(#333, white);
}

.segunda-metade h1,
.segunda-metade h2 {
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
}

.acesso1 {
    width: 100%;
    display: flex;
    justify-content: center;
}
.acesso1 a {
    padding: 1rem;
    border-radius: 5px;
    max-width: 15vh;
    border: none;
    background-color: #39e622;
    cursor: pointer;
    font-size: large;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
    color: black;
    margin-top: 3vh;
}.acesso1 a:hover{
    border: 1px solid #333;
    background: rgb(139, 208, 208);
}


/* Adicione uma regra de mídia para telas menores (celulares e tablets) */
/* Adicione uma regra de mídia para telas menores (celulares e tablets) */
@media (max-width: 768px) {
    .link_para_whatsapp {
        padding-top: 15px; /* Reduza o espaçamento superior para telas menores */
    }

    .link_para_whatsapp img {
        width: 60px;
        height: 60px;
        margin-bottom: 5px;
    }

    .apresentacao {
        padding: 0 10px; /* Reduza o espaçamento horizontal para telas menores */
    }

    .container {
        width: 100%; /* Ocupa a largura total */
    }

    .segunda-metade h1,
    .segunda-metade h2 {
        font-size: 14px; /* Ajuste o tamanho da fonte para telas menores */
        margin-bottom: 4vh; /* Adicione algum espaçamento inferior */
    }

    .acesso1 a {
        font-size: medium; /* Reduza o tamanho da fonte para telas menores */
    }

}